<div class="row">
	<div class="col-md-8">
	
		<div class="card">
			<div class="card card__title"><strong>KHAOS</strong> group</div>
			<div class="card__text">
			
			<p>The <strong>KHAOS</strong> research team consists of four faculty members, one postdoctoral researcher and seven PhD students. The Computer Science Department of the University of M&aacutelaga is formed by 121 members including full, associate and assistant professors,
			instructors and fellows. The research <strong>KHAOS</strong> group is part of the Software Engineering Group (GISUM). Formed in 1990, the main activities of GISUM are related to Software Engineering applied to Distributed Systems. GISUM has been awarded the highest grade of distinction (&#8220;group of excellence&#8221;) by the Regional Government of Andalusia.
			</p>
			
			<p>The main research lines are:	</p>
			
			<ul>
				<li>Data and Knowledge Management in the Semantic Web.</li>
				<li>Composition and Adaptation of Software Components and Services, including specific topics such as Semantics Web Service Compositon and Semantic ESB.</li>
				<li>Semantic Web applied to Bioinformatics.</li>
				<li>Application of Big Data technology.</li>
			</ul>	
			
			
			</div>
		</div>	
		
	
	
	
		<div class="card">
			<div class="card card__title">Jos&eacute; F. Aldana Montes</div>
			<div class="card__text">
			
			Description
			
			</div>
		</div>	
		
		<div class="card">
			<div class="card card__title">Ismael Navas Delgado</div>
			<div class="card__text">
			
			Description			
			
			</div>
		</div>	
		
		<div class="card">
			<div class="card card__title">Esteban L&oacute;pez Camacho</div>
			<div class="card__text">
			
			Description			
			
			</div>
		</div>	
		
		<div class="card">
			<div class="card card__title">Mar&iacute;a Jes&uacute;s Garc&iacute;a Godoy</div>
			<div class="card__text">
			
			Description			
			
			</div>
		</div>
		
		
			
	</div>
</div>