<div class="row">
	<div class="col-md-8">

		<div class="card">
			<div class="card card__title">
				<strong>KHAOS</strong> group
			</div>
			<div class="card__text">

				<p>
					The <strong>KHAOS</strong> research team consists of four faculty
					members, one postdoctoral researcher and seven PhD students. The
					Computer Science Department of the University of M&aacutelaga is
					formed by 121 members including full, associate and assistant
					professors, instructors and fellows. The research <strong>KHAOS</strong>
					group is part of the Software Engineering Group (GISUM). Formed in
					1990, the main activities of GISUM are related to Software
					Engineering applied to Distributed Systems. GISUM has been awarded
					the highest grade of distinction (&#8220;group of
					excellence&#8221;) by the Regional Government of Andalusia.
				</p>

				<p>The main research lines are:</p>

				<ul>
					<li>Data and Knowledge Management in the Semantic Web.</li>
					<li>Composition and Adaptation of Software Components and
						Services, including specific topics such as Semantics Web Service
						Compositon and Semantic ESB.</li>
					<li>Semantic Web applied to Bioinformatics.</li>
					<li>Application of Big Data technology.</li>
					<li>Application of optimization algorithms to solve
						bioinformatic problems such as molecular docking.</li>
				</ul>
			</div>
		</div>

		<div class="card">
			<div class="card card__title">Jos&eacute; F. Aldana Montes</div>
			<div class="card__text">

				Jos&eacute; F. Aldana Montes is a full professor at the languages and computing
				sciences department from the University of M&aacute;laga.
				He has more than 25 years of expertise researching and teaching
				about databases. His main fields of interest are <strong>Semantic
					MiddleWare</strong>, <strong>Semantic Data</strong> and <strong>Application
					Integration</strong> and <strong>Database extension</strong> using formal
				semantics. Furthermore, he has developed several works in <strong>Bioinformatics</strong>
				field. He has also obtained several EU, national and regional
				projects related to <strong>Bioinformatics</strong>.

			</div>
		</div>

		<div class="card">
			<div class="card card__title">Ismael Navas Delgado</div>
			<div class="card__text">
				Ismael Navas Delgado is an assistant professor at the languages and computing
				sciences department from the University of M&aacutelaga. His main interests are <strong>Semantic Web</strong>, <strong>Linked Data</strong>, <strong>Big Data</strong> analysis and their applications in <strong>Bioinformatics</strong>. He has also published works in high quality journals that apply these technologies to solve problems of integration in Life Sciences.			
			</div>
		</div>

		<div class="card">
			<div class="card card__title">Esteban L&oacute;pez Camacho</div>
			<div class="card__text">

				Esteban L&oacute;pez Camacho is a Ph.D student in the group KHAOS at
				the University of M&aacute;laga. He finished his bachelor of
				software engineering and the master of Artificial Intelligence and
				Software Engineering. He has experience in different research topics
				such as <strong>Semantics Web</strong>, <strong>Linked Data</strong>
				and <strong>data integration</strong>. He is an expert in software
				design and has a wide knowledge on programming languages. He has
				also worked with <strong>Optimization algorithms applied to
					Bioinformatics</strong>. His experience has led to different publications in
				high quality journals.

			</div>
		</div>

		<div class="card">
			<div class="card card__title">Mar&iacute;a Jes&uacute;s
				Garc&iacute;a Godoy</div>
			<div class="card__text">

				Mar&iacute;a Jes&uacute;s Garc&iacute;a Godoy is a Ph.D student in
				the group KHAOS at the University of M&aacute;laga. She finished
				Biology with the specialization of Molecular Biology. She has also
				accomplished the Master of Molecular and Cellular Biology and the
				Artificial Intelligence and Software Engineering. She has experience
				in <strong>Semantic Web</strong>, <strong>Linked data</strong> and <strong>data
					integration</strong>. Her main interest is <strong>Bioinformatics</strong>.
				Her experience has led to the publication of several works in high
				quality journals.

			</div>
		</div>
	</div>
</div>