<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li>Environmental Factor</li>
			<li>Small Molecule</li>
			<li class="active">{{environmental_factor.name}}</li>
		</ol>
	</div>
</div>

<div class="row">

	<div class="col-md-12">
		<h1>Small Molecule <small>{{environmental_factor.name}}</small></h1>
	</div>
	
	<div class="col-md-12" data-ng-if="environmental_factor.smallMolecules.length>0">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				<strong>Small Molecule:</strong><br/>
				<div data-ng-include="'partials/snippet/card_small_molecule.html'"
					data-ng-repeat="small_molecule in environmental_factor.smallMolecules">
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">miRNA involved</div>
			<div class="panel-body">
			
				<span data-ng-if="environmental_factor.related_mirnas.page.number != 0">... </span>
				<span data-ng-repeat="o in environmental_factor.related_mirnas.mirna">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="filterByMirna(o)">{{o.id}}</button>&nbsp;
				</span>
				<span data-ng-if="environmental_factor.related_mirnas.page.number != environmental_factor.related_mirnas.page.totalPages - 1">...</span>
				
				<div data-ng-if="environmental_factor.related_mirnas.page.totalPages>1">
					<div class="pull-right">Page {{environmental_factor.related_mirnas.page.number+1}} / {{environmental_factor.related_mirnas.page.totalPages}}</div>
					<div class="pull-left">Showing {{environmental_factor.related_mirnas.mirna.length}} of {{environmental_factor.related_mirnas.page.totalElements}}</div>
					<nav>
						<ul class="pager">
							<li data-ng-class="{disabled: environmental_factor.related_mirnas.page.number === 0}">
								<a data-ui-sref="{page: {{environmental_factor.related_mirnas.page.number - 1}} }" data-ng-click="environmental_factor.related_mirnas.previousPage()">Previous</a>
							</li>
							<li data-ng-class="{disabled: environmental_factor.related_mirnas.page.number === environmental_factor.related_mirnas.page.totalPages - 1}">
								<a data-ui-sref="{page: {{environmental_factor.related_mirnas.page.number + 1}} }" data-ng-click="environmental_factor.related_mirnas.nextPage()">Next</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="col-md-12" data-ng-if="filtered_mirna">
		<h2>Mirna <small>{{filtered_mirna.id}}</small></h2>
	</div>
	
	<div data-ng-include="'partials/snippet/expression_datas.html'"></div>
	
</div>