<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li>Gene</li>
			<li class="active">{{gene.name}}</li>
		</ol>
	</div>
</div>

<div class="row">

	<div class="col-md-12">
		<h1>Gene <small>{{gene.name}}</small></h1>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				<strong>Name:</strong> {{gene.name}}<br/>
				<span data-ng-if="gene.chromosome"><strong>Chromosome:</strong> {{gene.chromosome}}<br/></span>
				<span data-ng-if="gene.accessionumber"><strong>Accession Number:</strong> {{gene.accessionumber}}<br/></span>
				<span data-ng-if="gene.geneId"><strong>Gene ID:</strong> {{gene.geneId}}<br/></span>
				<span data-ng-if="gene.description"><strong>Description:</strong> {{gene.description}}<br/></span>
				<span data-ng-if="gene.year"><strong>Year:</strong> {{gene.year}}<br/></span>
				<span data-ng-if="gene.resource"><strong>Resource:</strong> {{gene.resource}}<br/></span>
				<span data-ng-if="gene.start_strand"><strong>Start Strand:</strong> {{gene.start_strand}}<br/></span>
				<span data-ng-if="gene.end_strand"><strong>End Strand:</strong> {{gene.end_strand}}<br/></span>
				<span data-ng-if="gene.hgnc_symbol"><strong>HGNC Symbol:</strong> {{gene.hgnc_symbol}}<br/></span>
				<span data-ng-if="gene.hgnc_id"><strong>HGNC ID:</strong> {{gene.hgnc_id}}<br/></span>
				<span data-ng-if="gene.location"><strong>Location:</strong> {{gene.location}}<br/></span>
				<span data-ng-if="gene.expression_site"><strong>Expression Site:</strong> {{gene.expression_site}}<br/></span>
				<span data-ng-if="gene.kegg_id"><strong>Kegg ID:</strong> {{gene.kegg_id}}<br/></span>
				<span data-ng-if="gene.arm"><strong>Arm:</strong> {{gene.arm}}<br/></span>
				<span data-ng-if="gene.distance"><strong>Distance:</strong> {{gene.distance}}<br/></span>
				<span data-ng-if="gene.ensembl_id"><strong>Ensembl ID:</strong> {{gene.ensembl_id}}<br/></span>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">miRNA involved</div>
			<div class="panel-body">
			
				<span data-ng-if="gene.related_mirnas.page.number != 0">... </span>
				<span data-ng-repeat="o in gene.related_mirnas.mirna">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="filterByMirna(o)">{{o.id}}</button>&nbsp;
				</span>
				<span data-ng-if="gene.related_mirnas.page.number != gene.related_mirnas.page.totalPages - 1">...</span>
				
				<div data-ng-if="gene.related_mirnas.page.totalPages>1">
					<div class="pull-right">Page {{gene.related_mirnas.page.number+1}} / {{gene.related_mirnas.page.totalPages}}</div>
					<div class="pull-left">Showing {{gene.related_mirnas.mirna.length}} of {{gene.related_mirnas.page.totalElements}}</div>
					<nav>
						<ul class="pager">
							<li data-ng-class="{disabled: gene.related_mirnas.page.number === 0}">
								<a data-ui-sref="{page: {{gene.related_mirnas.page.number - 1}} }" data-ng-click="gene.related_mirnas.previousPage()">Previous</a>
							</li>
							<li data-ng-class="{disabled: gene.related_mirnas.page.number === gene.related_mirnas.page.totalPages - 1}">
								<a data-ui-sref="{page: {{gene.related_mirnas.page.number + 1}} }" data-ng-click="gene.related_mirnas.nextPage()">Next</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div>
	<div class="col-md-12" data-ng-if="filtered_mirna">
		<h2>Mirna <small>{{filtered_mirna.id}}</small></h2>
	</div>
	
	<div data-ng-include="'partials/snippet/interaction_datas.html'"></div>
	
</div>