<div class="row">

	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>

			<li data-ng-if="$state.current.name=='searchByGeneName'"><a data-ui-sref="listGene">Gene</a></li>
			<li data-ng-if="$state.current.name=='searchByGeneName'"><a data-ui-sref="search">Search</a></li>
			<li class="active" data-ng-if="$state.current.name=='searchByGeneName'">{{search.searchFields[0].key}} : {{search.searchFields[0].value}}</li>

			<li class="active" data-ng-if="$state.current.name=='listGene'">Gene</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Gene list</h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Gene</div>
					<div class="card__text">

						<div data-ng-include="'partials/snippet/loading_animation.html'"
						     data-ng-if="!gene">
						</div>

						<table class="table table-hover" data-ng-if="gene">
							<thead>
								<tr>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="o in gene">
									<td>
										<a data-ui-sref="viewGene({id:o.pk})">{{o.name}}</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div data-ng-include="'partials/snippet/card_pager_footer.html'"
					     data-ng-if="gene"
					     onload="e=$parent;element='gene';">
					</div>

				</div>
			</div>

		</div>

	</div>
</div>



