<div class="row">

	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li class="active">Global Search</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Global Search</h1>
				<div data-ng-if="search.searchFields" style="margin-bottom: 20px">You searched for: <b>{{search.searchFields[0].value}}</b></div>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Results</div>
					<div class="card__text">

						<div data-ng-include="'partials/snippet/loading_animation.html'"
						     data-ng-if="!global">
						</div>

						<div data-ng-if="global && global.length==0">No results found!</div>

						<table class="table table-hover" data-ng-if="global && global.length>0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="o in global">
									<td>
										<a data-ui-sref="viewMature({id:o.pk})" data-ng-if="o.type=='MiRNA (mature)'">{{o.name}}</a>
										<a data-ui-sref="viewHairpin({id:o.pk})" data-ng-if="o.type=='MiRNA (hairpin)'">{{o.name}}</a>
										<a data-ui-sref="viewDeadMirna({id:o.pk})" data-ng-if="o.type=='MiRNA (dead)'">{{o.name}}</a>
										<a data-ui-sref="viewPhenotype({id:o.pk})" data-ng-if="o.type=='Phenotype'">{{o.name}}</a>
										<a data-ui-sref="viewBiologicalProcess({id:o.pk})" data-ng-if="o.type=='Biological Process'">{{o.name}}</a>
										<a data-ui-sref="viewEnvironmentalFactor({id:o.pk})" data-ng-if="o.type=='Environmental Factor'">{{o.name}}</a>
										<a data-ui-sref="viewProtein({id:o.pk})" data-ng-if="o.type=='Protein'">{{o.name}}</a>
										<a data-ui-sref="viewPubmedDocument({id:o.pk})" data-ng-if="o.type=='Pubmed Document'">{{o.name}}</a>
										<a data-ui-sref="viewSNP({id:o.pk})" data-ng-if="o.type=='SNP'">{{o.name}}</a>
										<a data-ui-sref="viewTranscript({id:o.pk})" data-ng-if="o.type=='Transcript'">{{o.name}}</a>
										<a data-ui-sref="viewGene({id:o.pk})" data-ng-if="o.type=='Gene'">{{o.name}}</a>
									</td>
									<td>{{o.type}}</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div data-ng-include="'partials/snippet/card_pager_footer.html'"
					     data-ng-if="global"
					     onload="e=$parent;element='global';">
					</div>

				</div>
			</div>

		</div>

	</div>
</div>

