<div class="row">
	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li><a data-ui-sref="listMirna">miRNA</a></li>
			<li><a data-ui-sref="listHairpin">Hairpin</a></li>
			<li class="active">{{mirna.id}}</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Hairpin <small>{{mirna.id}}</small></h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Information</div>
					<div class="card__text">
						<strong>Id:</strong> {{mirna.id}}<br/>
						<strong>Accession number:</strong> {{mirna.accessionNumber}}<br/>
						<strong>Previous ids:</strong> {{mirna.previousId}}<br/>
						<div data-ng-repeat="info in mirna.mirbaseInfo">
							<span data-ng-if="info.description">
								<strong>Description:</strong> {{info.description}}<br/>
							</span>
							<span data-ng-if="info.comment">
								<strong>Comment:</strong> {{info.comment}}<br/>
							</span>
							<span data-ng-if="info.wp_title">
								<strong>Community annotation: </strong>
								This data has been taken from <a data-ng-if=info.wp_title href="http://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> entry entitled <a data-ng-if=info.wp_title href="http://en.wikipedia.org/wiki/{{info.wp_title}}">{{info.wp_title}}.</a><br/>
								{{info.wp_description}}
							</span>
						</div>
					</div>
					
					<div class="col-sm-12">
					<div class="card__action-bar">
					<strong>External link:</strong>
						<a data-ng-if="mirna.accessionNumber" class="card__button" target="_BLANK"
								href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={{mirna.accessionNumber}}">
							MIRBASE</a>
					</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Sequence</div>
					<div class="card__text">
						{{mirna.sequence.sequence}}
					</div>
				</div>
			</div>
			
			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Database links</div>
					<div class="card__text">
						<ul>
							<li data-ng-repeat="mirnaDatabaseLink in mirna.mirnaDatabaseLink">
								<strong>Database id: </strong>{{mirnaDatabaseLink.dbId}}<br/><strong>Link: </strong><a>{{mirnaDatabaseLink.dbLink}}</a>
							</li>
						</ul>
		
					</div>
				</div>
			</div>
			

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Matures</div>
					<div class="card__text">
						<ul>
							<li data-ng-repeat="mature in mirna.matures">
								<a data-ui-sref="viewMature({id: mature.pk})">{{mature.id}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div data-ng-include="'partials/snippet/card_pubmed_documents.html'"></div>
			<div data-ng-include="'partials/snippet/card_expression_datas.html'"></div>

		</div>

	</div>
</div>
