<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Latest News</div>
			<div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque quam in scelerisque sagittis. Fusce bibendum, ligula in imperdiet bibendum, quam massa dictum odio, sed tempor neque nisi vitae neque. Praesent tempus nibh at rhoncus aliquam. Donec scelerisque dui a dignissim sagittis. Proin gravida velit a libero varius hendrerit. In aliquet dolor erat, fermentum aliquet ante dapibus vel. Integer tempor porttitor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi interdum iaculis nibh, sed ultrices diam. Sed eu aliquam elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tempus odio ac ipsum semper rutrum.

Cras efficitur arcu sed neque luctus auctor. Nullam interdum nisi nec convallis placerat. Nullam est magna, gravida id dolor nec, vulputate viverra nisi. Aliquam eget risus justo. Vivamus posuere sem pretium sem venenatis tempor. Nulla sed est odio. Vivamus ullamcorper eros sem, at bibendum orci fringilla ut. Donec et massa nulla. Mauris a efficitur lorem. Pellentesque fringilla facilisis ex, ullamcorper sollicitudin purus semper in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce a metus ligula. Pellentesque ipsum sapien, tempus non ligula et, sodales facilisis nulla. Donec tempor in tortor non posuere. Mauris condimentum risus sagittis nibh lobortis pulvinar. Mauris scelerisque felis sit amet odio consequat tincidunt.

Duis malesuada blandit ante, eu laoreet purus dapibus in. Vivamus a magna a velit elementum suscipit. Aenean egestas bibendum nisl, at pharetra felis pellentesque nec. Cras cursus nec erat in lobortis. Sed vel velit lacus. Etiam convallis enim felis, sed fringilla neque tincidunt eget. Donec non laoreet ex. Sed vel turpis nibh. Vivamus at nisl viverra, commodo tortor sed, pulvinar velit.
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">Description</div>
			<div class="panel-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque quam in scelerisque sagittis. Fusce bibendum, ligula in imperdiet bibendum, quam massa dictum odio, sed tempor neque nisi vitae neque. Praesent tempus nibh at rhoncus aliquam. Donec scelerisque dui a dignissim sagittis. Proin gravida velit a libero varius hendrerit. In aliquet dolor erat, fermentum aliquet ante dapibus vel. Integer tempor porttitor placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi interdum iaculis nibh, sed ultrices diam. Sed eu aliquam elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tempus odio ac ipsum semper rutrum.

Etiam vitae augue risus. Cras fermentum convallis neque, at porta leo ultrices aliquet. Praesent gravida in nisi eget consectetur. Maecenas ut sapien posuere, sodales velit eget, mattis magna. Praesent porttitor ante id lectus tristique fermentum. Sed ut ipsum ac lacus bibendum efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel turpis condimentum felis faucibus tincidunt. Cras urna felis, gravida id varius posuere, lacinia eget felis. Quisque a quam eget erat volutpat efficitur. Duis elementum diam eros, volutpat faucibus mauris cursus sed.

Nunc eu hendrerit nibh. Suspendisse vulputate imperdiet metus vel tincidunt. Sed tortor diam, commodo sit amet dui ac, maximus facilisis ante. Donec in convallis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies mauris a pulvinar tempus. Aenean sit amet tincidunt erat, eget tristique erat. Ut euismod libero eu erat bibendum pharetra. Ut scelerisque egestas lorem, molestie imperdiet sapien blandit at. Donec nec efficitur augue.

Cras efficitur arcu sed neque luctus auctor. Nullam interdum nisi nec convallis placerat. Nullam est magna, gravida id dolor nec, vulputate viverra nisi. Aliquam eget risus justo. Vivamus posuere sem pretium sem venenatis tempor. Nulla sed est odio. Vivamus ullamcorper eros sem, at bibendum orci fringilla ut. Donec et massa nulla. Mauris a efficitur lorem. Pellentesque fringilla facilisis ex, ullamcorper sollicitudin purus semper in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce a metus ligula. Pellentesque ipsum sapien, tempus non ligula et, sodales facilisis nulla. Donec tempor in tortor non posuere. Mauris condimentum risus sagittis nibh lobortis pulvinar. Mauris scelerisque felis sit amet odio consequat tincidunt.

Duis malesuada blandit ante, eu laoreet purus dapibus in. Vivamus a magna a velit elementum suscipit. Aenean egestas bibendum nisl, at pharetra felis pellentesque nec. Cras cursus nec erat in lobortis. Sed vel velit lacus. Etiam convallis enim felis, sed fringilla neque tincidunt eget. Donec non laoreet ex. Sed vel turpis nibh. Vivamus at nisl viverra, commodo tortor sed, pulvinar velit.
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">Tweets about iMirna</div>
			<div class="panel-body">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">Release</div>
			<div class="panel-body">
				miRNA counter: 123456<br/>
				Version: 1.2.3.alfa
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">Try me</div>
			<div class="panel-body">
				<form class="" ng-submit="quickSearch()">
					<div class="form-group">
						<label for="try-me">miRNA</label>
						<div class="input-group">
							<input type="text" class="form-control" id="try-me" ng-model="quickSearchText">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary">Go</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">Downloads</div>
			<div class="panel-body">
				<button type="button" class="btn btn-primary btn-lg btn-block">Download</button>
			</div>
		</div>
	</div>
</div>
