<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a data-ui-sref="listMirna">miRNA</a></li>
			<li><a data-ui-sref="listMature">Mature</a></li>
			<li class="active">{{mirna.id}}</li>
		</ol>
	</div>
</div>

<div class="row">

	<div class="col-md-12">
		<h1>Mature <small>{{mirna.id}}</small></h1>
	</div>

	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				<strong>Id:</strong> {{mirna.id}}<br/>
				<strong>Accession number:</strong> {{mirna.accessionNumber}}<br/>
				<strong>Dead:</strong> {{mirna.dead}}<br/>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Hairpins</div>
			<div class="panel-body">
				<ul>
					<li data-ng-repeat="hairpin in mirna.hairpins">
						<a data-ui-sref="viewHairpin({id: hairpin.pk})">{{hairpin.id}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div data-ng-include="'partials/snippet/pubmed_documents.html'"></div>
	
</div>
