<div class="row">
	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li><a data-ui-sref="listMirna">miRNA</a></li>
			<li><a data-ui-sref="listMature">Mature</a></li>
			<li class="active">{{mirna.id}}</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Mature <small>{{mirna.id}}</small></h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Information</div>
					<div class="card__text">
						<strong>Id:</strong> {{mirna.id}}<br/>
						<strong>Accession number:</strong> {{mirna.accessionNumber}}<br/>
						<strong>Previous ids:</strong> {{mirna.previousId}}<br/>
						<div data-ng-repeat="info in mirna.mirbaseInfo">
							<span data-ng-if="info.evidence">
								<strong>Evidence:</strong> {{info.evidence}}<br/>
							</span>
							<span data-ng-if="info.experiment">
								<strong>Experiment:</strong> {{info.experiment}}<br/>
							</span>
							<span data-ng-if="info.similarity">
								<strong>Similarity:</strong>&nbsp;
								<a data-ui-sref="goToAcc({acc:info.similarity})" data-ng-if="mirna.accessionNumber!=info.similarity">{{info.similarity}}</a>
								<span data-ng-if="mirna.accessionNumber==info.similarity">{{info.similarity}}</span>
								<br/>
							</span>
						</div>
					</div>
					
					<div class="col-sm-12">
					<div class="card__action-bar">
						<strong><b>MIRBASE</b> link to {{mirna.accessionNumber}}:</strong>
						<a data-ng-if="mirna.accessionNumber" class="card__button" target="_BLANK"
								href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={{mirna.accessionNumber}}">
							http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={{mirna.accessionNumber}}</a>
					</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Sequence</div>
					<div class="card__text">
					<ul>
					
						<li class="sequence" data-ng-repeat="o in mirna.hairpins">
							<strong>{{o.hairpin.id}}: </strong><span>{{Util.subHairpin1(o.hairpin.sequence.sequence, o.from)}} <span class="sequence1">{{Util.subMature(o.hairpin.sequence.sequence, o.from, o.to)}}</span> {{Util.subHairpin2(o.hairpin.sequence.sequence, o.to)}}</span>
						</li>
					</ul>
				
					</div>
				</div>
			</div>
	
			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Hairpins</div>
					<div class="card__text">
						<ul>
							<li data-ng-repeat="o in mirna.hairpins">
								<a data-ui-sref="viewHairpin({id: o.hairpin.pk})">{{o.hairpin.id}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div data-ng-if="mirna.pubmed_documents.pubmed_document.length>0" data-ng-include="'partials/snippet/card_pubmed_documents.html'"></div>
			<div data-ng-if="expression_datas.expression_data.length>0" data-ng-include="'partials/snippet/card_expression_datas.html'"></div>

		</div>

	</div>
</div>
