<div class="row">
		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li><a data-ui-sref="listProtein">Protein</a></li>
			<li class="active">{{Util.capitalize(protein.id)}}</li>
		</ol>
</div>

<div class="row card-container">

	<div class="col-sm-12">
		<h1>Protein <small>{{Util.capitalize(protein.id)}}</small></h1>
	</div>
	
	<div class="col-sm-12">
		<div class="card">
			<div class="card card__title">Information</div>
			<div class="card__text">
				<span data-ng-if="protein.id"><strong>Protein ID:</strong> {{protein.id}}<br/></span>
				<span data-ng-if="protein.type"><strong>Protein type:</strong> {{protein.type}}<br/></span>
			</div>
		</div>
	</div>
		

	 <div class="col-sm-12">
		<div class="card">
			<div class="card card__title">Gene(s) related to {{protein.id}} </div>
			<div class="card__text">
			
				<span data-ng-if="protein.related_genes.page.number != 0">... </span>
				<span data-ng-repeat="o in protein.related_genes.gene">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="filterByGene(o)">{{o.name}}</button>&nbsp;
				</span>
				<span data-ng-if="protein.related_genes.page.number != protein.related_genes.page.totalPages - 1">...</span>
				
				<div data-ng-if="protein.related_genes.page.totalPages>1">
					<div class="pull-right">Page {{protein.related_genes.page.number+1}} / {{protein.related_genes.page.totalPages}}</div>
					<div class="pull-left">Showing {{protein.related_genes.transcript.length}} of {{protein.related_genes.page.totalElements}}</div>
					<nav>
						<ul class="pager">
							<li data-ng-class="{disabled: protein.related_genes.page.number === 0}">
								<a data-ui-sref="{page: {{protein.related_genes.page.number - 1}} }" data-ng-click="protein.related_genes.previousPage()">Previous</a>
							</li>
							<li data-ng-class="{disabled: protein.related_genes.page.number === protein.related_genes.page.totalPages - 1}">
								<a data-ui-sref="{page: {{protein.related_genes.page.number + 1}} }" data-ng-click="protein.related_genes.nextPage()">Next</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div> 
	

		
	<div class="col-md-12" data-ng-if="filtered_gene">
		<h2>Gene <small>{{filtered_gene.id}}</small></h2>
	</div>
	<div data-ng-if="interaction_datas.interaction_data.length>0" data-ng-include="'partials/snippet/card_interaction_datas.html'"></div>
	
</div>

