<div class="row">
	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li><a data-ui-sref="listProtein">Protein</a></li>
			<li class="active">{{Util.capitalize(protein.id)}}</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Protein <small>{{Util.capitalize(protein.id)}}</small></h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Information</div>
					<div class="card__text">
						<span data-ng-if="protein.id"><strong>Protein ID:</strong> {{protein.id}}<br/></span>
						<span data-ng-if="protein.type"><strong>Protein type:</strong> {{protein.type}}<br/></span>
					</div>
				</div>
			</div>

			<div data-ng-if="genes.gene.length>0"
				 data-ng-include="'partials/snippet/card_genes.html'">
			</div>

			<div data-ng-if="interaction_datas.interaction_data.length>0" data-ng-include="'partials/snippet/card_interaction_datas.html'"></div>

		</div>

	</div>
</div>