<div class="row">

	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>

			<li data-ng-if="$state.current.name=='searchByPubmedDocumentId'"><a data-ui-sref="listPubmedDocument">Pubmed document</a></li>
			<li data-ng-if="$state.current.name=='searchByPubmedDocumentId'"><a data-ui-sref="search">Search</a></li>
			<li class="active" data-ng-if="$state.current.name=='searchByPubmedDocumentId'">{{search.searchFields[0].key}} : {{search.searchFields[0].value}}</li>

			<li class="active" data-ng-if="$state.current.name=='listPubmedDocument'">Pubmed document</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>Pubmed document list</h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">Pubmed document</div>
					<div class="card__text">

						<div data-ng-include="'partials/snippet/loading_animation.html'"
						     data-ng-if="!pubmed_document">
						</div>

						<table class="table table-hover" data-ng-if="pubmed_document">
							<thead>
								<tr>
									<th>Pubmed ID</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="o in pubmed_document">
									<td>
										<a data-ui-sref="viewPubmedDocument({id:o.pk})">{{o.id}}</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div data-ng-include="'partials/snippet/card_pager_footer.html'"
					     data-ng-if="pubmed_document"
					     onload="e=$parent;element='pubmed_document';">
					</div>

				</div>
			</div>

		</div>

	</div>
</div>