<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li>Pubmed document</li>
			<li class="active">{{pubmed_document.id}}</li>
		</ol>
	</div>
</div>

<div class="row">

	<div class="col-md-12"> 
		<h1>Pubmed Document ID: 
		<small>{{pubmed_document.id}}</small>		
		</h1>
	</div>
	
	<div class="col-md-12"> 
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				<strong>ID:</strong> {{pubmed_document.id}}<br/>
				<span data-ng-if="pubmed_document.description"><strong>Description:</strong> {{pubmed_document.description}}<br/></span>
				<span data-ng-if="pubmed_document.resource"><strong>Resource:</strong> <a
					ng-href={{pubmed_document.resource}} target="_blank">{{pubmed_document.resource}}</a></span>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">miRNA involved</div>
			<div class="panel-body">
			
				<span data-ng-if="pubmed_document.related_mirnas.page.number != 0">... </span>
				<span data-ng-repeat="o in pubmed_document.related_mirnas.mirna">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="filterByMirna(o)">{{o.id}}</button>&nbsp;
				</span>
				<span data-ng-if="pubmed_document.related_mirnas.page.number != pubmed_document.related_mirnas.page.totalPages - 1">...</span>
				
				<div data-ng-if="pubmed_document.related_mirnas.page.totalPages>1">
					<div class="pull-right">Page {{pubmed_document.related_mirnas.page.number+1}} / {{pubmed_document.related_mirnas.page.totalPages}}</div>
					<div class="pull-left">Showing {{pubmed_document.related_mirnas.mirna.length}} of {{pubmed_document.related_mirnas.page.totalElements}}</div>
					<nav>
						<ul class="pager">
							<li data-ng-class="{disabled: pubmed_document.related_mirnas.page.number === 0}">
								<a data-ui-sref="{page: {{pubmed_document.related_mirnas.page.number - 1}} }" data-ng-click="pubmed_document.related_mirnas.previousPage()">Previous</a>
							</li>
							<li data-ng-class="{disabled: pubmed_document.related_mirnas.page.number === pubmed_document.related_mirnas.page.totalPages - 1}">
								<a data-ui-sref="{page: {{pubmed_document.related_mirnas.page.number + 1}} }" data-ng-click="pubmed_document.related_mirnas.nextPage()">Next</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div>
	<div class="col-md-12" data-ng-if="filtered_mirna">
		<h2>Mirna <small>{{filtered_mirna.id}}</small></h2>
	</div>
	
	<div data-ng-include="'partials/snippet/expression_datas.html'"></div>
	
</div>