<form class="form-inline" data-ng-submit="findById()">
	<div class="form-group">
		<label for="search-opt-1">Search by miRNA id</label>
		<input type="text" class="form-control" id="search-opt-1" placeholder="miRNA" data-ng-model="idText">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>

<hr>

<form class="form-inline" data-ng-submit="findByPhenotypeName()">
	<div class="form-group">
		<label for="search-opt-2">Search by phenotype</label>
		<input type="text" class="form-control" id="search-opt-2" placeholder="phenotype" data-ng-model="phenotypeNameText">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>

<hr>

<form class="form-inline" data-ng-submit="findByEnvironmentalFactorName()">
	<div class="form-group">
		<label for="search-opt-3">Search by environmental factor</label>
		<input type="text" class="form-control" id="search-opt-3" placeholder="environmental factor" data-ng-model="environmentalFactorNameText">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>

<hr>

<form class="form-inline" data-ng-submit="findByGeneName()">
	<div class="form-group">
		<label for="search-opt-4">Search by gene</label>
		<input type="text" class="form-control" id="search-opt-4" placeholder="gene" data-ng-model="geneNameText">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
