<div class="row">

	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li>SNP</li>
			<li class="active">{{snp.id}}</li>
		</ol>
		
		<div class="card-container">

			<div class="col-sm-12">
				<h1>SNP<small>{{snp.id}}</small></h1>
			</div>
	
			<div class="col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Information</div>
					<div class="panel-body">
						<span data-ng-if="snp.id"><strong>SNP ID:&nbsp;</strong>{{snp.id}}<br/></span>
						<span data-ng-if="snp.position"><strong>Position:</strong>&nbsp;{{snp.position}}<br/></span>
						<span data-ng-if="snp.article_date"><strong>Pubmed document:</strong>&nbsp;{{snp.article_date}}<br/></span>
						<span data-ng-if="snp.chromosome"><strong>Chromosome:</strong>&nbsp;{{snp.chromosome}}<br/></span>
						<span data-ng-if="snp.orientation"><strong>Polarity:</strong>&nbsp;{{snp.orientation}}<br/></span>
					</div>
				</div>
			</div>
			
			<div data-ng-if="genes.gene.length>0"
					data-ng-include="'partials/snippet/card_genes.html'"
					onload="card_title='Gene(s) included in '+snp.id">
			</div>
			
			<div data-ng-include="'partials/snippet/card_pubmed_documents.html'"></div>
			
			<div data-ng-include="'partials/snippet/card_expression_datas.html'"
					onload="card_title='Interaction data related to '+snp.id">
			</div>
		
<!-- 			<div class="col-sm-12" data-ng-if="filtered_gene"> -->
<!-- 				<h2>Gene<small>{{filtered_gene.name}}</small></h2> -->
<!-- 			</div> -->
<!-- 			<div data-ng-if="snp.related_pubmedDocuments.pubmed_document.length>0" data-ng-include="'partials/snippet/pubmed_documents3.html'"></div> -->
<!-- 			<div data-ng-if="expression_datas.expression_data.length>0" data-ng-include="'partials/snippet/expression_datas_snp.html'"></div> -->
			
		</div>
	</div>
</div>