<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li>SNP</li>
			<li class="active">{{snp.id}}</li>
		</ol>
	</div>
</div>

<div class="row">

		<div class="col-md-12">
			<h1>SNP<small>{{snp.id}}</small></h1>
		</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				<span data-ng-if="snp.id"><strong>SNP ID:&nbsp;</strong>{{snp.id}}<br/></span>
				<span data-ng-if="snp.position"><strong>Position:</strong>&nbsp;{{snp.position}}<br/></span>
				<span data-ng-if="snp.article_date"><strong>Pubmed document:</strong>&nbsp;{{snp.article_date}}<br/></span>
				<span data-ng-if="snp.chromosome"><strong>Chromosome:</strong>&nbsp;{{snp.chromosome}}<br/></span>
				<span data-ng-if="snp.orientation"><strong>Polarity:</strong>&nbsp;{{snp.orientation}}<br/></span>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Gene(s) related to {{snp.id}} </div>
			<div class="panel-body">
			
				<span data-ng-if="snp.related_genes.page.number != 0">... </span>
				<span data-ng-repeat="o in snp.related_genes.gene">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="filterByGene(o)">{{o.name}}</button>&nbsp;
				</span>
				<span data-ng-if="snp.related_genes.page.number != snp.related_genes.page.totalPages - 1">...</span>
				
				<div data-ng-if="snp.related_genes.page.totalPages>1">
					<div class="pull-right">Page {{snp.related_genes.page.number+1}} / {{snp.related_genes.page.totalPages}}</div>
					<div class="pull-left">Showing {{snp.related_genes.transcript.length}} of {{snp.related_genes.page.totalElements}}</div>
					<nav>
						<ul class="pager">
							<li data-ng-class="{disabled: snp.related_genes.page.number === 0}">
								<a data-ui-sref="{page: {{snp.related_genes.page.number - 1}} }" data-ng-click="snp.related_genes.previousPage()">Previous</a>
							</li>
							<li data-ng-class="{disabled: snp.related_genes.page.number === snp.related_genes.page.totalPages - 1}">
								<a data-ui-sref="{page: {{snp.related_genes.page.number + 1}} }" data-ng-click="snp.related_genes.nextPage()">Next</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div>
	
	
	<div class="col-md-12" data-ng-if="filtered_snp">
		<h2>Gene<small>{{snp.id}}</small></h2>
	</div>
	<div data-ng-if="interaction_datas.interaction_data.length>0" data-ng-include="'partials/snippet/interaction_datas_snp.html'"></div>
	
	
</div>