<div class="row">

	<div class="col-sm-12">

		<ol class="breadcrumb">
			<li><a data-ui-sref="home">Home</a></li>
			<li class="active">SNP</li>
		</ol>

		<div class="card-container">

			<div class="col-sm-12">
				<h1>SNP list</h1>
			</div>

			<div class="col-sm-12">
				<div class="card">
					<div class="card card__title">SNP</div>
					<div class="card__text">

						<div data-ng-include="'partials/snippet/loading_animation.html'"
						     data-ng-if="!snp">
						</div>

						<table class="table table-hover" data-ng-if="snp">
							<thead>
								<tr>
									<th>SNP ID</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="o in snp">
									<td>
										<a data-ui-sref="viewSNP({id:o.pk})">{{o.id}}</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div data-ng-include="'partials/snippet/card_pager_footer.html'"
					     data-ng-if="snp"
					     onload="e=$parent;element='snp';">
					</div>

				</div>
			</div>

		</div>

	</div>
</div>