<div class="col-sm-12" data-ng-if="expression_datas">
	<div class="card">
		<div class="card card__title" data-ng-if="card_title">{{card_title}}</div>
		<div class="card card__title" data-ng-if="!card_title">Expression Data</div>
		<div class="card__text">
			<div data-ng-include="'partials/snippet/card_expression_data.html'"
				data-ng-repeat="expression_data in expression_datas.expression_data">
			</div>
		</div>
		<div data-ng-include="'partials/snippet/card_pager_footer.html'"
				data-ng-if="expression_datas"
				onload="e=expression_datas;element='expression_data';">
		</div>
	</div>
</div>