<div class="col-sm-12" data-ng-if="related_genes">

	<div class="card">
		<h2 class="card card__title">Gene(s) related</h2>
		<div class="card__text">
		
			<div class="row" >
				<div class="col-sm-3 col-md-2" data-ng-repeat="item in related_genes.gene">
					<div class="filter-button-container">
						<button type="button" class="btn btn-default filter-button"
							data-ng-class="{'actived': item.pk==filtered_mirna.pk}"
							data-ng-click="filterByMirna(item)">{{item.id}}</button>
					</div>
				</div>
			</div>

		</div>
		
		<div data-ng-include="'partials/snippet/card_pager_footer.html'"
				data-ng-if="related_mirnas"
				onload="e=related_mirnas;element='mirna';">
		</div>
	</div>
</div>