<div class="panel">
	<dl class="dl-horizontal">
	
		<dt data-ng-if="snp.snp_id">ID:</dt>
		<dd data-ng-if="snp.snp_id">{{snp.snp_id}}</dd>
		
		<dt data-ng-if="snp.chromosome">Chromosome:</dt>
		<dd data-ng-if="snp.chromosome">{{snp.chromosome}}</dd>
		
		<dt data-ng-if="snp.orientation">Orientation:</dt>
		<dd data-ng-if="snp.orientation">{{snp.orientation}}</dd>
		
		<dt data-ng-if="snp.position">Position:</dt>
		<dd data-ng-if="snp.position">{{snp.position}}</dd>
		
		<dt data-ng-if="snp.article_date">Article Date:</dt>
		<dd data-ng-if="snp.article_date">{{snp.article_date}}</dd>
		
	</dl>
</div>