<div class="dl-container" style="margin-bottom: 5px; margin-top: 5px;">
	<dl class="dl-horizontal">
	
		<dt data-ng-if="interaction_data.provenance">Provenance:</dt>
		<dd data-ng-if="interaction_data.provenance">{{interaction_data.provenance}}</dd>
		
		<dt data-ng-if="interaction_data.score">Score:</dt>
		<dd data-ng-if="interaction_data.score">{{interaction_data.score}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueLog">P Value Log:</dt>
		<dd data-ng-if="interaction_data.pvalueLog">{{interaction_data.pvalueLog}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueOg">P Value Og:</dt>
		<dd data-ng-if="interaction_data.pvalueOg">{{interaction_data.pvalueOg}}</dd>
		
		<dt data-ng-if="interaction_data.miTGScore">miTG Score:</dt>
		<dd data-ng-if="interaction_data.miTGScore">{{interaction_data.miTGScore}}</dd>
		
		<dt data-ng-if="interaction_data.method">Method:</dt>
		<dd data-ng-if="interaction_data.method">{{interaction_data.method}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.phase">Phase:</dt>
		<dd data-ng-if="interaction_data.phase">{{interaction_data.phase}}</dd>
		
		<dt data-ng-if="interaction_data.rank">Rank:</dt>
		<dd data-ng-if="interaction_data.rank">{{interaction_data.rank}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.reference">Reference:</dt>
		<dd data-ng-if="interaction_data.reference">{{interaction_data.reference}}</dd>
		
		<dt data-ng-if="interaction_data.cellularLine">Cellular Line:</dt>
		<dd data-ng-if="interaction_data.cellularLine">{{interaction_data.cellularLine}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.type">Type:</dt>
		<dd data-ng-if="interaction_data.type">{{interaction_data.type}}</dd>
		
		<dt data-ng-if="interaction_data.mirnas">MiRNA:</dt>
		<dd data-ng-if="interaction_data.mirnas">
			<span data-ng-repeat="o in interaction_data.mirnas">
				<a data-ui-sref="viewMature({id:o.pk})" data-ng-if="o.type=='mature'">{{o.id}}</a>
				<a data-ui-sref="viewHairpin({id:o.pk})" data-ng-if="o.type=='hairpin'">{{o.id}}</a>
				<a data-ui-sref="viewDeadMirna({id:o.pk})" data-ng-if="o.type=='dead'">{{o.id}}</a>
				<span data-ng-if="$last==false"> / </span>
			</span>
		</dd>
		
		<dt data-ng-if="interaction_data.gene">Gene:</dt>
		<dd data-ng-if="interaction_data.gene">
			<a data-ui-sref="viewGene({id:interaction_data.gene.pk})">{{interaction_data.gene.name}}</a>
		</dd>
		
		<dt data-ng-if="interaction_data.target != null && interaction_data.target.transcript != null && interaction_data.target.transcript.id != null">Transcript ID:</dt>
		<dd data-ng-if="interaction_data.target != null && interaction_data.target.transcript != null && interaction_data.target.transcript.id != null">{{interaction_data.target.transcript.id}}</dd>
		
		<dt data-ng-if="(interaction_data.target != null && 
		(interaction_data.target.chromosome != null 
		|| interaction_data.target.polarity != null
		|| interaction_data.target.coordinates != null
	    || interaction_data.target.region != null
		|| interaction_data.target.gc_proportion != null
		|| interaction_data.target.gu_proportion != null
		|| interaction_data.target.cds_start != null
		|| interaction_data.target.cds_end != null
		|| interaction_data.target.utr3_start != null
		|| interaction_data.target.utr3_end != null
		|| interaction_data.target.strand_start != null
		|| interaction_data.target.strand_end != null
		|| interaction_data.target.binding_site_start != null
		|| interaction_data.target.binding_site_end != null
		|| interaction_data.target.repeated_motifs != null
		|| interaction_data.target.utr3_conservation_score != null
		|| interaction_data.target.seed_match != null
		|| interaction_data.target.site_conservation_score != null
		|| interaction_data.target.target_ref != null
		|| interaction_data.target.organism.name != null))">Target:</dt>
		<dd data-ng-if="interaction_data.target.chromosome != null"><strong>Chromosome:</strong>
		{{interaction_data.target.chromosome}}</dd>
		<dd data-ng-if="interaction_data.target.polarity != null"><strong>Polarity:</strong>
		{{interaction_data.target.polarity}}</dd>
		<dd data-ng-if="interaction_data.target.coordinates != null"><strong>Coordinates:</strong>
		{{interaction_data.target.coordinates}}</dd>
		<dd data-ng-if="interaction_data.target.region != null"><strong>Region:</strong>
		{{interaction_data.target.region}}</dd>
		<dd data-ng-if="interaction_data.target.gc_proportion != null"><strong>GC proportion:</strong>
		{{interaction_data.target.gc_proportion}}</dd>
		<dd data-ng-if="interaction_data.target.gu_proportion != null"><strong>GU proportion:</strong>
		{{interaction_data.target.gu_proportion}}</dd>
		<dd data-ng-if="interaction_data.target.cds_start != null"><strong>CDS start:</strong>
		{{interaction_data.target.cds_start}}</dd>
		<dd data-ng-if="interaction_data.target.cds_end != null"><strong>CDS end:</strong>
		{{interaction_data.target.cds_end}}</dd>
		<dd data-ng-if="interaction_data.target.utr3_start != null"><strong>UTR3 start:</strong>
		{{interaction_data.target.utr3_start}}</dd>
		<dd data-ng-if="interaction_data.target.utr3_end != null"><strong>UTR3 end:</strong>
		{{interaction_data.target.utr3_start}}</dd>
		<dd data-ng-if="interaction_data.target.strand_start != null"><strong>Strand start:</strong>
		{{interaction_data.target.strand_start}}</dd>
		<dd data-ng-if="interaction_data.target.strand_end != null"><strong>Strand end:</strong>
		{{interaction_data.target.strand_end}}</dd>
		<dd data-ng-if="interaction_data.target.binding_site_start != null"><strong>Binding site start:</strong>
		{{interaction_data.target.binding_site_start}}</dd>
		<dd data-ng-if="interaction_data.target.binding_site_end != null"><strong>Binding site end:</strong>
		{{interaction_data.target.binding_site_end}}</dd>
		<dd data-ng-if="interaction_data.target.repeated_motifs != null"><strong>Repeated motifs:</strong>
		{{interaction_data.target.repeated_motifs}}</dd>
		<dd data-ng-if="interaction_data.target.utr3_conservation_score != null"><strong>UTR3 conservation score:</strong>
		{{interaction_data.target.utr3_conservation_score}}</dd>
		<dd data-ng-if="interaction_data.target.seed_match != null"><strong>Seed match:</strong>
		{{interaction_data.target.seed_match}}</dd>
		<dd data-ng-if="interaction_data.target.site_conservation_score != null"><strong>Site conservation score:</strong>
		{{interaction_data.target.site_conservation_score}}</dd>
		<dd data-ng-if="interaction_data.target.target_ref != null"><strong>Target reference:</strong>
		{{interaction_data.target.target_ref}}</dd>
		<dd data-ng-if="interaction_data.target.organism.name != null"><strong>Organism:</strong>
		{{interaction_data.target.organism.name}}</dd>	
		
		<dd data-ng-if="expression_data.disease">
			&nbsp;
			<div data-ng-include="'partials/snippet/card_disease.html'"
				data-ng-if="true"
				onload="disease = expression_data.disease">
			</div>
		</dd>			
		
	</dl>
</div>