<div class="panel">
	<dl class="dl-horizontal">
	
		<dt data-ng-if="expression_data.provenance">Provenance:</dt>
		<dd data-ng-if="expression_data.provenance">{{expression_data.provenance}}</dd>
		
		<dt data-ng-if="expression_data.disease">Disease:</dt>
		<dd data-ng-if="expression_data.disease">
			{{expression_data.disease.name}}
			<span data-ng-if="expression_data.disease.diseaseClass"> ({{expression_data.disease.diseaseClass}})</span>
		</dd>
		
		<dt data-ng-if="expression_data.titleReference">Title reference:</dt>
		<dd data-ng-if="expression_data.titleReference">{{expression_data.titleReference}}</dd>
		
		<dt data-ng-if="expression_data.foldchangeMin">Fold change min:</dt>
		<dd data-ng-if="expression_data.foldchangeMin">{{expression_data.foldchangeMin}}</dd>
		
		<dt data-ng-if="expression_data.foldchangeMax">Fold change max:</dt>
		<dd data-ng-if="expression_data.foldchangeMax">{{expression_data.foldchangeMax}}</dd>
		
		<dt data-ng-if="expression_data.studyDesign">Study design:</dt>
		<dd data-ng-if="expression_data.studyDesign">{{expression_data.studyDesign}}</dd>
		
		<dt data-ng-if="expression_data.method">Method:</dt>
		<dd data-ng-if="expression_data.method">{{expression_data.method}}</dd>
		
		<dt data-ng-if="expression_data.treatment">Treatment:</dt>
		<dd data-ng-if="expression_data.treatment">{{expression_data.treatment}}</dd>
		
		<dt data-ng-if="expression_data.evidence">Evidence:</dt>
		<dd data-ng-if="expression_data.evidence">{{expression_data.evidence}}</dd>
		
		<dt data-ng-if="expression_data.year">Year:</dt>
		<dd data-ng-if="expression_data.year">{{expression_data.year}}</dd>
		
		<dt data-ng-if="expression_data.description">Description:</dt>
		<dd data-ng-if="expression_data.description">{{expression_data.description}}</dd>
		
		<dt data-ng-if="expression_data.cellularLine">Cellular line:</dt>
		<dd data-ng-if="expression_data.cellularLine">{{expression_data.cellularLine}}</dd>
		
		<dt data-ng-if="expression_data.condition">Condition:</dt>
		<dd data-ng-if="expression_data.condition">{{expression_data.condition}}</dd>
		
		<dt data-ng-if="expression_data.dataType">Data type:</dt>
		<dd data-ng-if="expression_data.dataType">{{expression_data.dataType}}</dd>
		
		<dt data-ng-if="expression_data.differentExpressionLocation">Different expression location:</dt>
		<dd data-ng-if="expression_data.differentExpressionLocation">{{expression_data.differentExpressionLocation}}</dd>
		
		<dt data-ng-if="expression_data.interactionData">Interaction Data:</dt>
		<dd data-ng-if="expression_data.interactionData">
			&nbsp;
			<div data-ng-include="'partials/snippet/card_interaction_data.html'"
				data-ng-if="true"
				onload="interaction_data = expression_data.interactionData">
			</div>
		</dd>

	</dl>
</div>