<div class="dl-container">
	<dl class="dl-horizontal">

		<dt data-ng-if="interaction_data.provenance">Provenance:</dt>
		<dd data-ng-if="interaction_data.provenance">{{interaction_data.provenance}}</dd>

		<dt data-ng-if="interaction_data.score">Score:</dt>
		<dd data-ng-if="interaction_data.score">{{interaction_data.score}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueLog">P Value Log:</dt>
		<dd data-ng-if="interaction_data.pvalueLog">{{interaction_data.pvalueLog}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueOg">P Value Og:</dt>
		<dd data-ng-if="interaction_data.pvalueOg">{{interaction_data.pvalueOg}}</dd>
		
		<dt data-ng-if="interaction_data.miTGScore">miTG Score:</dt>
		<dd data-ng-if="interaction_data.miTGScore">{{interaction_data.miTGScore}}</dd>
		
		<dt data-ng-if="interaction_data.method">Method:</dt>
		<dd data-ng-if="interaction_data.method">{{interaction_data.method}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.phase">Phase:</dt>
		<dd data-ng-if="interaction_data.phase">{{interaction_data.phase}}</dd>
		
		<dt data-ng-if="interaction_data.rank">Rank:</dt>
		<dd data-ng-if="interaction_data.rank">{{interaction_data.rank}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.reference">Reference:</dt>
		<dd data-ng-if="interaction_data.reference">{{interaction_data.reference}}</dd>
		
		<dt data-ng-if="interaction_data.cellularLine">Cellular Line:</dt>
		<dd data-ng-if="interaction_data.cellularLine">{{interaction_data.cellularLine}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.type">Type:</dt>
		<dd data-ng-if="interaction_data.type">{{interaction_data.type}}</dd>
		
		<dt data-ng-if="interaction_data.mirnas">MiRNA:</dt>
		<dd data-ng-if="interaction_data.mirnas">
			<span data-ng-repeat="o in interaction_data.mirnas">
				<a data-ui-sref="viewMature({id:o.pk})" data-ng-if="o.type=='mature'">{{o.id}}</a>
				<a data-ui-sref="viewHairpin({id:o.pk})" data-ng-if="o.type=='hairpin'">{{o.id}}</a>
				<a data-ui-sref="viewDeadMirna({id:o.pk})" data-ng-if="o.type=='dead'">{{o.id}}</a>
				<span data-ng-if="$last==false"> / </span>
			</span>
		</dd>
		
		<dt data-ng-if="interaction_data.gene">Gene:</dt>
		<dd data-ng-if="interaction_data.gene">
			<a data-ui-sref="viewGene({id:interaction_data.gene.pk})">{{interaction_data.gene.name}}</a>
		</dd>
		
		<dt data-ng-if="interaction_data.target != null &&
		(interaction_data.target.chromosome != null 
		|| interaction_data.target.polarity != null
		|| interaction_data.target.coordinates != null
	  || interaction_data.target.region != null
		|| interaction_data.target.gc_proportion != null
		|| interaction_data.target.gu_proportion != null
		|| interaction_data.target.cds_start != null
		|| interaction_data.target.cds_end != null
		|| interaction_data.target.utr3_start != null
		|| interaction_data.target.utr3_end != null
		|| interaction_data.target.strand_start != null
		|| interaction_data.target.strand_end != null
		|| interaction_data.target.binding_site_start != null
		|| interaction_data.target.binding_site_end != null
		|| interaction_data.target.repeated_motifs != null
		|| interaction_data.target.utr3_conservation_score != null
		|| interaction_data.target.seed_match != null
		|| interaction_data.target.site_conservation_score != null
		|| interaction_data.target.target_ref != null
		|| interaction_data.target.organism.name != null
		|| interaction_data.target.transcript
		&& (interaction_data.target.transcript.id != null
		|| interaction_data.target.transcript.name != null
		|| interaction_data.target.transcript.isoform != null))">Target:</dt>

		<dd data-ng-include="'partials/snippet/card_target.html'"
		    data-ng-if="true"
		    onload="target = interaction_data.target"></dd>
		
	</dl>
</div>