<div class="panel">
	<dl class="dl-horizontal">
	
		<dt data-ng-if="pubmed_document.id">Pubmed ID:</dt>
		<dd data-ng-if="pubmed_document.id">{{pubmed_document.id}}</dd>
		
		<dt data-ng-if="pubmed_document.description">Pubmed document description:</dt>
		<dd data-ng-if="pubmed_document.description">{{pubmed_document.description}}</dd>
		
		<dt data-ng-if="pubmed_document.resource">Pubmed document resource:</dt>
		<dd data-ng-if="pubmed_document.resource">{{pubmed_document.resource}}</dd>
					
	</dl>
	<hr>
	
</div>