<div class="panel">
	<dl class="dl-horizontal">
	
		<dt data-ng-if="interaction_data.provenance">Provenance:</dt>
		<dd data-ng-if="interaction_data.provenance">{{interaction_data.provenance}}</dd>
		
		<dt data-ng-if="interaction_data.score">Score:</dt>
		<dd data-ng-if="interaction_data.score">{{interaction_data.score}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueLog">P Value Log:</dt>
		<dd data-ng-if="interaction_data.pvalueLog">{{interaction_data.pvalueLog}}</dd>
		
		<dt data-ng-if="interaction_data.pvalueOg">P Value Og:</dt>
		<dd data-ng-if="interaction_data.pvalueOg">{{interaction_data.pvalueOg}}</dd>
		
		<dt data-ng-if="interaction_data.miTGScore">miTG Score:</dt>
		<dd data-ng-if="interaction_data.miTGScore">{{interaction_data.miTGScore}}</dd>
		
		<dt data-ng-if="interaction_data.method">Method:</dt>
		<dd data-ng-if="interaction_data.method">{{interaction_data.method}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.phase">Phase:</dt>
		<dd data-ng-if="interaction_data.phase">{{interaction_data.phase}}</dd>
		
		<dt data-ng-if="interaction_data.rank">Rank:</dt>
		<dd data-ng-if="interaction_data.rank">{{interaction_data.rank}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.reference">Reference:</dt>
		<dd data-ng-if="interaction_data.reference">{{interaction_data.reference}}</dd>
		
		<dt data-ng-if="interaction_data.cellularLine">Cellular Line:</dt>
		<dd data-ng-if="interaction_data.cellularLine">{{interaction_data.cellularLine}}</dd>
		
		<dt data-ng-if="interaction_data.feature">Feature:</dt>
		<dd data-ng-if="interaction_data.feature">{{interaction_data.feature}}</dd>
		
		<dt data-ng-if="interaction_data.type">Type:</dt>
		<dd data-ng-if="interaction_data.type">{{interaction_data.type}}</dd>
		
		<dt data-ng-if="interaction_data.mirnas">MiRNA:</dt>
		<dd data-ng-if="interaction_data.mirnas">
			<span data-ng-repeat="o in interaction_data.mirnas">{{o.id}}<span data-ng-if="$last==false"> / </span></span>
		</dd>
		
		<dt data-ng-if="interaction_data.gene">Gene:</dt>
		<dd data-ng-if="interaction_data.gene">{{interaction_data.gene.name}}</dd>
		
		<dt data-ng-if="interaction_data.target && interaction_data.target.transcript">Transcript ID:</dt>
		<dd data-ng-if="interaction_data.target && interaction_data.target.transcript">{{interaction_data.target.transcript.id}}</dd>
		
		<dt data-ng-if="interaction_data.target">Target:
		<dd data-ng-if="interaction_data.target">
		<dd data-ng-if="interaction_data.target"><strong>Chromosome:</strong>
		{{interaction_data.target.chromosome}}</dd>
		<dd data-ng-if="interaction_data.target.polarity !=== null"><strong>Polarity:</strong>
		{{interaction_data.target.polarity}}</dd>
		<dd data-ng-if="interaction_data.target"><strong>Coordinates:</strong>
		{{interaction_data.target.coordinates}}</dd>
		<dd data-ng-if="interaction_data.target"><strong>Region:</strong>
		{{interaction_data.target.region}}</dd>
		
		</dd>
		</dt>
		
		
	</dl>
</div>