<div class="col-md-12" data-ng-if="expression_datas" >
	<div class="panel panel-primary">
		<div class="panel-heading">Expression Data related to {{filtered_mirna.id}}</div>
		<div class="panel-body" >
		<div data-ng-include="'partials/snippet/card_expression_data.html'"
				data-ng-repeat="expression_data in expression_datas.expression_data">
		</div>
		</div>
			<div data-ng-if="expression_datas.page.totalPages>1">
				<div class="pull-right">Page {{expression_datas.page.number+1}} / {{expression_datas.page.totalPages}}</div>
				<div class="pull-left">Showing {{expression_datas.expression_data.length}} of {{expression_datas.page.totalElements}}</div>
				<nav>
					<ul class="pager">
						<li data-ng-class="{disabled: expression_datas.page.number === 0}">
							<a data-ui-sref="{page: {{expression_datas.page.number - 1}} }" data-ng-click="expression_datas.previousPage()">Previous</a>
						</li>
						<li data-ng-class="{disabled: expression_datas.page.number === expression_datas.page.totalPages - 1}">
							<a data-ui-sref="{page: {{expression_datas.page.number + 1}} }" data-ng-click="expression_datas.nextPage()">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			
		</div>
	</div>
</div>



