body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
/* 	background-color: #58585a; */
/* 	padding-top: 70px; */
	min-height:2000px;
	
/* 	background: #D7D7D7; */
/*   background: -moz-linear-gradient(top,  #D7D7D7 0%, #E9E9E9  100%); */
/*   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D7D7D7), color-stop(100%,#E9E9E9 )); */
/*   background: -webkit-linear-gradient(top,  #D7D7D7 0%,#E9E9E9  100%); */
/*   background: -o-linear-gradient(top,  #D7D7D7 0%,#E9E9E9  100%); */
/*   background: -ms-linear-gradient(top,  #D7D7D7 0%,#E9E9E9  100%); */
/*   background: linear-gradient(to bottom,  #D7D7D7 0%,#E9E9E9  100%); */
/*   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7D7D7', endColorstr='#E9E9E9 ',GradientType=0 ); */
  
  background: #58585a;
  background: -moz-linear-gradient(top,  #E9E9E9 0%, #58585a  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E9E9E9), color-stop(100%,#58585a ));
  background: -webkit-linear-gradient(top,  #E9E9E9 0%,#58585a  100%);
  background: -o-linear-gradient(top,  #E9E9E9 0%,#58585a  100%);
  background: -ms-linear-gradient(top,  #E9E9E9 0%,#58585a  100%);
  background: linear-gradient(to bottom,  #E9E9E9 0%,#58585a  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#58585a ',GradientType=0 );
  
  background-attachment: fixed;
}

.masthead {
	height: 70px;
	background-color: white;
}

.main-logo {
	width: 320px;
	height: 71px;
	margin-top: 22px;
	text-indent: 120%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
}


.navbar {
/* 	background-color: #063458; */
	border-radius: 0px;
}

.container {
/* 	padding-top: 15px; */
}

.card {
    will-change: transform;
    margin-bottom: 8px;
/*     position: relative; */
    border-radius: 2px;
    overflow: hidden;
    background-color: #fafafa;
/*     height: 35%; */
/*     width: 344px; */
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	border-radius: 0px;
    overflow: hidden;
    background-color: #fafafa;
}

.card-highlighted {
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card__title {
	
	
	
	background: rgba(16,103,173,1);
background: -moz-linear-gradient(45deg, rgba(16,103,173,1) 0%, rgba(16,103,173,1) 37%, rgba(145,193,230,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(16,103,173,1)), color-stop(37%, rgba(16,103,173,1)), color-stop(100%, rgba(145,193,230,1)));
background: -webkit-linear-gradient(45deg, rgba(16,103,173,1) 0%, rgba(16,103,173,1) 37%, rgba(145,193,230,1) 100%);
background: -o-linear-gradient(45deg, rgba(16,103,173,1) 0%, rgba(16,103,173,1) 37%, rgba(145,193,230,1) 100%);
background: -ms-linear-gradient(45deg, rgba(16,103,173,1) 0%, rgba(16,103,173,1) 37%, rgba(145,193,230,1) 100%);
background: linear-gradient(45deg, rgba(16,103,173,1) 0%, rgba(16,103,173,1) 37%, rgba(145,193,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1067ad', endColorstr='#91c1e6', GradientType=1 );
	
	
	
	
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
/*     color: rgb(33, 150, 243); */
color: white;
/* background-color: #2196f3; */
    margin: 0;
/*     position: absolute; */
/*     left: 0; */
/*     right: 0; */
    padding: 16px 16px 16px 16px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
/*     left: 0; */
/*     right: 0; */
/*     top: 100px; */
    padding: 16px;
    margin: 0;
    line-height: 1.6;
/*     position: absolute; */
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: delay 0.1s;
    transition: delay 0.1s;
}

.card__footer {
	color: white;
	background-color: #5191C5;
}

.btn-pager {
	background-color: transparent;
	border-radius : 1px;
	 -webkit-transition: width 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: width 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: delay 0.8s;
    transition: delay 0.8s;
}

.btn-pager:hover {
	background-color: white;
	color: #1067AD;
	
}

.center-pager {
	padding: 6px 0px;
	text-align: center;
}

.filter-button, .filter-button:hover, .filter-button:active,
.filter-button:focus, .filter-button:visited  {
	text-decoration: none;
	outline:0;
}

.filter-button:hover {
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /* color: white; */
    /* background-color: white; */
    border: solid 1px rgb(33,150,243);
    border-radius: 2px;
}

/* bootstrap 3 helpers */

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}
