<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- Database connection properties - Driver, URL, user, password -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.44.23:3306/mirna</property>
  <property name="hibernate.connection.username">mirna</property>
  <property name="hibernate.connection.password">mirna</property>
  <!-- Connection Pool Size -->
  <property name="hibernate.connection.pool_size">1</property>
  
  <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
  <property name="hibernate.current_session_context_class">thread</property>
  
  <!-- Outputs the SQL queries, should be disabled in Production -->
  <property name="hibernate.show_sql">false</property>
  
  <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
   Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
 
  <!-- mapping file, we can use Bean annotations too -->
  <mapping class="mirna.integration.beans.MiRna" />
  <mapping class="mirna.integration.beans.Sequence" />
  <mapping class="mirna.integration.beans.Disease" />
  <mapping class="mirna.integration.beans.ExpressionData" />
  <mapping class="mirna.integration.beans.PubmedDocument" />
  <mapping class="mirna.integration.beans.Organism" />
  <mapping class="mirna.integration.beans.Gene" />
  <mapping class="mirna.integration.beans.Hairpin" />
  <mapping class="mirna.integration.beans.Mature" />
  <mapping class="mirna.integration.beans.Transcript" />
  <mapping class="mirna.integration.beans.Target" />
  <mapping class="mirna.integration.beans.Mutation" />
  <mapping class="mirna.integration.beans.SNP" />
  <mapping class="mirna.integration.beans.Complex" />
  <mapping class="mirna.integration.beans.BiologicalProcess" />
  <mapping class="mirna.integration.beans.InteractionData" />
  <mapping class="mirna.integration.beans.Protein" />
  <mapping class="mirna.integration.beans.nToM.MirnaHasOrganism" />
  <mapping class="mirna.integration.beans.nToM.ExpressionDataHasPubmedDocument" />
  <mapping class="mirna.integration.beans.nToM.MirnaHasPubmedDocument" />
  <mapping class="mirna.integration.beans.nToM.MirnaHasSequence" />
  <mapping class="mirna.integration.beans.nToM.MirnaInvolvesBiologicalProcess" />
  <mapping class="mirna.integration.beans.nToM.SnpHasDisease" />
  <mapping class="mirna.integration.beans.nToM.SnpHasGene" />
  <mapping class="mirna.integration.beans.nToM.TranscriptProducesProtein" />
  <mapping class="mirna.integration.beans.nToM.SnpHasPubmedDocument" />
  <mapping class="mirna.integration.beans.nToM.HairpinHasSequence" />
  <mapping class="mirna.integration.beans.nToM.MatureHasSequence" />
  <mapping class="mirna.integration.beans.nToM.MirnaHasHairpin" />
  <mapping class="mirna.integration.beans.nToM.MirnaHasMature" />
  <mapping class="mirna.integration.beans.nToM.TranscriptHasGene" />
  <mapping class="mirna.integration.beans.SmallMolecule" />
  <mapping class="mirna.integration.beans.EnvironmentalFactor" />
  
  <mapping class="mirna.integration.database.beans.DiseasePk" />
   
 </session-factory>
</hibernate-configuration>