<form class="form-inline">
	<div class="form-group">
		<label for="search-opt-1">Search by miRNA</label>
		<input type="text" class="form-control" id="search-opt-1" placeholder="miRNA">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>

<hr>

<form class="form-inline">
	<div class="form-group">
		<label for="search-opt-2">Search by Organism</label>
		<input type="text" class="form-control" id="search-opt-2" placeholder="Organism">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
